.ul-types {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
}

.li-types {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.image-types {
  max-width: 300px;
}

@media (max-width: 480px) {
  .ul-types > a {
    width: 100%;
  }
}
